<div class="front">
    <p class="heading">FORM</p>
    <p class="head">DETAILS</p>
    <label for="username">USERNAME:</label>  <br> <br>
    <input type="text" id="username" name="username" value='' [(ngModel)]="inpObj.username"  > <br> <br>
    <label for="password">PASSWORD:</label>  <br> <br>
    <input type="text" id="password" name="password" value="" [(ngModel)]="inpObj.password" >   <br> <br>
    <label for="emailid">EMAIL ID:</label>  <br> <br>
    <input type="text" id="emailid" name="emailid" value="" [(ngModel)]="inpObj.emailid" >  <br> <br>
    <label for="phonenumber">PHONE NUMBER:</label>  <br> <br>
    <input type="text" id="phonenumber" name="phonenumber" value="" [(ngModel)]="inpObj.phonenumber" > <br> <br>
    <label for="city">City :</label>  <br> <br>
    <input type="text" id="city" name="city" value="" [(ngModel)]="inpObj.city" >   <br> <br>
    <input type="submit" value="Submit" class="btn submit" (click)="showResult()"> <br> <br>
</div>
